<html>
    <head></head>
    <body>
        <div id="app">
            <h1>{{ message }}</h1>
            <input type="text" v-model="message" />
            <h1>{{ message2 }}</h1>
            <input type="text" v-model="message2" />
            <h1>{{ message3 }}</h1>
            <input type="text" v-model="message3" />
        </div>
        <script src="https://unpkg.com/vue@2.2.1/dist/vue.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    message2: 'Watch this message'
                },
                watch: {
                    message(newValue, oldValue) {
                        console.log(`Message changed from "${oldValue}" to "${newValue}"`);
                    },
                    message2(newValue, oldValue) {
                        console.log(`Message2 changed from "${oldValue}" to "${newValue}"`);
                    },
                    message3(newValue, oldValue) {
                        console.log(`Message3 changed from "${oldValue}" to "${newValue}"`);
                    }
                }
            })
        </script>
    </body>
</html>